:not(nav) > .container{
	padding-bottom: 30px;	
}

#who-should-join {
  height: 500px;
}

th {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.bg-grey {
	background-color: #eee;
}
.bg-white {
	background-color: #fff;
}
.bg-blue {
	background-color: #189AE2;
}

#lg {
	background-color: #fff;
}

.frame {
	height: 100px;      /* equals max image height */
	width: 250px;

	.helper {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	img {
		vertical-align: middle;
		max-height: 100px;
		max-width: 200px;
	}	
}

blockquote{
	margin-bottom: 0px;
}